.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
}

.leftElement{
  display: flex;
  flex-direction: column;
}

.rightElement{
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 700px){
  .leftElement {
      max-width: 14rem;
  }
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}